#logo {
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #fff;

  /* Visual */
  background: #080808;
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #080808;
}